{% extends 'base.html' %}
{% load static %}

{%block title %}
About
{% endblock %}

{% block body %}

<section class="probootstrap-slider flexslider">
  <ul class="slides">
    <li style="background-image: url(../static/img/slider_2.jpg);" class="overlay2">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
              <h2>About Nikhil</h2>
              <p>Driving Business Growth Through Data-Driven Strategies.</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<!-- END: slider  -->

<section class="probootstrap-section">
  <div class="container">
    <div class="row mb50 probootstrap-animate" data-animate-effect="fadeIn">
      <div class="col-md-6">
        <p><img src="{% static 'img/bangalore.jpg' %}" alt="about-image" class="img-responsive"></p>
      </div>
      <div class="col-md-6">
        <h2>Beginnings</h2>
        <p>I was born in Bengaluru, the garden city and the silicon valley of India, to an Aerospace Engineer and
          Architect. As you can imagine, the pressure to make something of my life was enormous. So while I was in my
          engineering, I got selected for a competitive program called Entrepreneurs on Training where my project,
          Healing Through Food, got funded where I designed disease specific food products for hospital patients.</p>
        <p>Driven by competition and curiosity to learn everything under the sun, I founded a gaming cafe at the age of
          18. As people began to realize my software skills, I started getting consulting projects for web development
          which led me on the path of technology.</p>
      </div>
    </div>
    <div class="row probootstrap-animate" data-animate-effect="fadeIn">
      <div class="col-md-6 col-md-push-6">
        <p><img src="{% static 'img/mcmaster.jpg' %}" alt="about-image" class="img-responsive"></p>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h2>Educational Foundation</h2>
        <p>I hold a MBA in Business Analytics from McMaster University's DeGroote School of Business and an Bachelor's
          of Engineering degree, Computer Science from NIE Institute of Technology, providing me with a solid academic
          foundation. </p>
        <p>During my studies, I undertook projects such as developing a custom ResearchGPT for business research and
          collaborating on an IT project management initiative with Scotia Bank, showcasing my ability to apply advanced
          analytics and AI in real-world business contexts.</p>
      </div>
    </div>
    <div class="row mb50 probootstrap-animate" data-animate-effect="fadeIn">
      <div class="col-md-6">
        <p><img src="{% static 'img/moneyHOPTeam.webp' %}" alt="about-image" class="img-responsive"></p>
      </div>
      <div class="col-md-6">
        <h2>Professional Experience</h2>
        <p>My diverse professional background encompasses significant roles in data analytics, IT consulting, and
          digital marketing. </p>
        <p>Notable experiences include contributing to analytics projects at Britnell Venture, aiding workplace safety
          at the Workplace Safety & Insurance Board (WSIB), leading product development efforts at KnowQuest, and
          spearheading digital growth strategies as a Digital Marketing Head at moneyHOP. These roles have honed my
          ability to manage and execute complex projects effectively while leveraging technology for business growth.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <hr>
    <div class="row pb-2">
      <h2>Passionate about...</h2>
    </div>
    <div class="row probootstrap-animate" data-animate-effect="fadeIn">
      <div class="col-md-6 col-md-push-6">
        <p><img src="{% static 'img/afc-logo.png' %}" alt="innovation-image" class="img-responsive"></p>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h2>Innovation</h2>
        <p>My strength primarily lies in innovation is prominently showcased through my blend of academic excellence and
          entrepreneurial spirit.</p>
        <p>From designing disease specific food products to building one of the first neobanks in India, I am committed
          to leveraging my knowledge for impactful, real-world applications and driving innovation in every endeavor.
        </p>
      </div>
    </div>
    <div class="row probootstrap-animate" data-animate-effect="fadeIn">
      <div class="col-md-6 col-md-push-6">
        <p><img src="{% static 'img/mountain.jpg' %}" alt="travel-image" class="img-responsive"></p>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h2>Travel</h2>
        <p>My passion for travel is an extension of my curiosity. Traveling is not just a hobby for me, it's a lifelong
          passion that fuels my sense of adventure and curiosity about the world. </p>
        <p>My recent endeavours include hiking the Annapoorna mountain 26,000 feet above sea level and taking 21 days to
          complete.</p>
      </div>
    </div>
    <div class="row probootstrap-animate" data-animate-effect="fadeIn">
      <div class="col-md-6 col-md-push-6">
        <p><img src="{% static 'img/hostel-yoga.jpg' %}" alt="yoga-image" class="img-responsive"></p>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h2>Yoga</h2>
        <p>I try and live my life through yogic principles. Most people think of yoga as just a form of excercise.
          However, it is actually a way of life for me.</p>
        <p>Every time I step onto the mat, I feel like I'm unlocking a new level of inner peace and strength. I try to
          practice all three types of yoga: Karma yoga, Gnana yoga, and Bhakti yoga.</p>
      </div>
    </div>
    <div class="row probootstrap-animate" data-animate-effect="fadeIn">
      <div class="col-md-6 col-md-push-6">
        <p><img src="{% static 'img/kid-teaching.jpg' %}" alt="teaching-image" class="img-responsive"></p>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h2>Teaching</h2>
        <p>If you ask me about the one thing that drives me, I would probably tell you that it is helping people.</p>
        <p>As I did not have much to give back growing up, I found teaching for free did not require as much and have
          been doing it part-time ever since. Fun fact: To aid faster feedback at Mathnasium, I learnt to read upside
          down.</p>
      </div>
    </div>
    <div class="row probootstrap-animate" data-animate-effect="fadeIn">
      <div class="col-md-6 col-md-push-6">
        <p><img src="{% static 'img/cat.jpg' %}" alt="teaching-image" class="img-responsive"></p>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <h2>Cats</h2>
        <p>Though I love most animals and was a vegan most of my life.</p>
        <p>If you'd spend sometime time with me, you'd know that I am a cat person.</p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center probootstrap-animate">
        <h2>The Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card probootstrap-person text-center">
          <div class="probootstrap-card-media">
            <img src="{% static 'img/person_1.jpg' %}" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">Jeremy Slater</h2>
            <p><small>Web Designer</small></p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
              ocean.</p>
            <ul class="probootstrap-social">
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card probootstrap-person text-center">
          <div class="probootstrap-card-media">
            <img src="{% static 'img/person_2.jpg' %}" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">James Butterly</h2>
            <p><small>Web Developer</small></p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
              ocean.</p>
            <ul class="probootstrap-social">
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-github"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card probootstrap-person text-center">
          <div class="probootstrap-card-media">
            <img src="{% static 'img/person_3.jpg' %}" class="img-responsive" alt="Free HTML5 Template by uicookies.com">
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">James Smith</h2>
            <p><small>Web Designer</small></p>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
              ocean.</p>
            <ul class="probootstrap-social">
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>
              <li><a href="#"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- END section -->

<!-- <section class="probootstrap-section probootstrap-section-lighter">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center section-heading probootstrap-animate">
        <h2>People Says...</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4  probootstrap-animate">
        <div class="probootstrap-testimony">
          <blockquote>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
              ocean.</p>
          </blockquote>
          <div class="author">
            <img src="{% static 'img/person_1.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Theme by uicookies.com">
            <div>John Doe <span>Designer at uicookies.com</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4  probootstrap-animate">
        <div class="probootstrap-testimony">
          <blockquote>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
              ocean.</p>
          </blockquote>
          <div class="author">
            <img src="{% static 'img/person_2.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Theme by uicookies.com">
            <div>John Doe <span>Designer at uicookies.com</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4  probootstrap-animate">
        <div class="probootstrap-testimony">
          <blockquote>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
              ocean.</p>
          </blockquote>
          <div class="author">
            <img src="{% static 'img/person_3.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Theme by uicookies.com">
            <div>John Doe <span>Designer at uicookies.com</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- END section -->

{% endblock %}