{% extends 'base.html' %}
{% load static %}

{%block title %}
Nikhil &mdash; Portfolio
{% endblock %}


{% block body %}

<!-- ######################## -->
<!-- HERO  -->
<!-- ######################## -->

<section class="probootstrap-slider flexslider">
  <ul class="slides">
    <li style="background-image: url(../static/img/slider_1.jpg);" class="overlay2">
      <div class="container">
        <div class="row py-2">
          <div class="col-md-6 text-center">
            <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
              <img src="../static/img/profile-image.png" alt="Profile Image">
            </div>
          </div>
          <div class="col-md-6 text-center">
            <div class="slides-text probootstrap-animate" data-animate-effect="fadeIn">
              <h2>Nikhil Kounjoor Adiga</h2>
            </div>
          </div>
        </div>
    </li>
  </ul>
</section>
<!-- END: slider  -->

<!-- ######################## -->
<!-- HIGHLIGHTS  -->
<!-- ######################## -->

<section class="probootstrap-section">
  <div class="container">
    <div class="row overlap">
      <div class="col-md-4">
        <div class="service left-icon probootstrap-animate">
          <div class="icon">
            <i class="icon-laptop3"></i>
          </div>
          <div class="text">
            <h3 class="heading">Technology</h3>
            <p>Expertise in software development across 6 years in programming languages such as
              Python, SQL, Flutter, and JavaScript. I have hands-on experience in building scalable web and native
              applications, developing robust backend systems, and creating intuitive UI/UX. I have also built
              automation scripts to simplify repetitive tasks.</p>
            <!-- <p><a href="single-page.html">Learn more</a></p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service left-icon probootstrap-animate">
          <div class="icon">
            <i class="icon-presentation"></i>
          </div>
          <div class="text">
            <h3 class="heading">Data and Analytics</h3>
            <p>My professional and academic experience has equipped me with skills in data science and analytics, with
              proficiency in tools such as Pandas, NumPy, and TensorFlow. I specialize in extracting actionable
              insights from complex datasets, identifying trends, and making data-driven decisions. Be it using Excel,
              Machine Learning or AI.</p>
            <!-- <p><a href="single-page.html">Learn more</a></p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service left-icon probootstrap-animate">
          <div class="icon">
            <i class="icon-wallet2"></i>
          </div>
          <div class="text">
            <h3 class="heading">Digital Marketing</h3>
            <p>I possess 4 years of experience in digital marketing, SEO, Programmatic Marketing, email marketing, and
              budgeting. Leveraging a strategic mindset, creative flair, and a data-driven approach, I drive
              performace-driven digital marketing campaigns with a proven track record of building technology
              companies from 0 to $5M monthly revenue.</p>
            <!-- <p><a href="single-page.html">Learn more</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<!-- ######################## -->
<!-- PROJECTS  -->
<!-- ######################## -->

<div class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center section-heading probootstrap-animate">
        <h2>PROJECTS</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInLeft">
        <div class="panel-group probootstrap-panel" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Recommendation System for an e-commerce firm
                </a>
              </h3>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <h4>Objective:</h4>
                <ul>
                  <li>The firm aimed to optimize user satisfaction and reduce returning customer's order time.</li>
                </ul>
                <h4>Strategy:</h4>
                <ul>
                  <li>Collected and cleaned data on user purchases and product interactions.</li>
                  <li>Utilized Jacacard index to measure similarity between users and generated recommendations based on
                    their purchase pattern.</li>
                  <li>Developed a recommendation system utilizing collaborative filtering techniques, and Apriori
                    algorithm.</li>
                </ul>
                <h4>Outcome:</h4>
                <ul>
                  <li>The recommendation system successfully reduced customer order time by 12% for returning users.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInRight">
        <p><img src="{% static 'img/Project-Recommendation.jpg' %}" alt="slider image" class="img-responsive"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInLeft">
        <div class="panel-group probootstrap-panel" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseTwo">
                  Page Speed Optimization for a property management application
                </a>
              </h3>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <h4>Objective:</h4>
                <ul>
                  <li>Optimize page load speed and performance and enhance user satisfaction.</li>
                </ul>
                <h4>Strategy:</h4>
                <ul>
                  <li>Conducted a comprehensive performance audit of the application using Google Page Speed Insights and Lighthouse to identify areas for improvement.</li>
                  <li>Implemented techniques such as code minification, image optimization, and browser caching to reduce page load times.</li>
                  <li>Implemented lazy loading for non-critical assets and asynchronous loading of scripts to further improve page load times and interactivity.</li>
                </ul>
                <h4>Outcome:</h4>
                <ul>
                  <li>Following the implementation of performance optimizations, all performance scores increased significantly, with an average score reaching 96 from 63.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInRight">
        <p><img src="{% static 'img/page-speed-optimization.jpg' %}" alt="slider image" class="img-responsive"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInLeft">
        <div class="panel-group probootstrap-panel" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                  aria-expanded="true" aria-controls="collapseThree">
                  Conversion and sales optimization at MoneyHop
                </a>
              </h3>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <h4>Objective:</h4>
                <ul>
                  <li>Reach goal of $5M monthly revenue within a year from scratch through digital advertisements to raise seed fund.</li>
                </ul>
                <h4>Strategy:</h4>
                <ul>
                  <li>Built a budget model using Excel Solver to figure out the budget required i.e. $150k per year to reach the goal.</li>
                  <li>Utilized programmatic advertising platforms and automation to target relevant audiences and optimize ad placements and reached 30k web sessions.</li>
                  <li>Implement customer acquisition cost (CAC) optimization techniques using AI algorithms like gradient descent to maximize efficiency and reduced CAC by ~70%.</li>
                </ul>
                <h4>Outcome:</h4>
                <ul>
                  <li>The revenue goal was reached within 8 months and MoneyHop successfully raised it's seed round of $1.25M.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInRight">
        <p><img src="{% static 'img/moneyhop-project.jpg' %}" alt="slider image" class="img-responsive"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInLeft">
        <div class="panel-group probootstrap-panel" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h3 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                  aria-expanded="true" aria-controls="collapseFour">
                  Face liveness detection using AI for a ed-tech firm
                </a>
              </h3>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <h4>Objective:</h4>
                <ul>
                  <li>Detect if students from the online classes are real and paying attention detecting eye blink frequency.</li>
                </ul>
                <h4>Strategy:</h4>
                <ul>
                  <li>Used DeepFace, a deep learning-based facial recognition model, for robust face detection and landmark localization.</li>
                  <li>Implemented an algorithm to analyze blinking patterns by tracking changes in eye landmarks over consecutive frames.</li>
                  <li>Computed a liveness score based on the frequency and consistency of blinking within a defined time window.</li>
                </ul>
                <h4>Outcome:</h4>
                <ul>
                  <li>Provided an additional layer of security by verifying the authenticity of faces, mitigating spoofing attempts using static images, generative AI or videos.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 probootstrap-animate" data-animate-effect="fadeInRight">
        <p><img src="{% static 'img/face-is-real.jpg' %}" alt="slider image" class="img-responsive"></p>
      </div>
    </div>
  </div>
</div>
<!-- END section -->

<!-- ######################## -->
<!-- VIDEO  -->
<!-- ######################## -->

<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center section-heading probootstrap-animate">
        <h2>Watch Video</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 probootstrap-animate" data-animate-effect="fadeIn">
        <figure>
          <div class="probootstrap-video">
            <a href="https://vimeo.com/45830194" class="popup-vimeo probootstrap-video-play overlay"><span><i
                  class="icon-play3"></i></span></a>
            <img src="{% static 'img/slider_3.jpg' %}" alt="Testimonial Video" class="img-responsive">
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<!-- ######################## -->
<!-- CERTIFICATIONS  -->
<!-- ######################## -->

<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center section-heading probootstrap-animate">
        <h2>Certifications</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card with-hover">
          <div class="probootstrap-card-media">
            <a href="https://www.credly.com/badges/29a466a0-854f-4cc5-8d92-f237540aef8d/linked_in_profile"><img src="{% static 'img/SaFe6.jpg' %}" class="img-responsive img-border"
                alt="Certification Image"></a>
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">SAFe 6.0</h2>
            <p class="category">Product Management</p>
            <p><a href="https://www.credly.com/badges/29a466a0-854f-4cc5-8d92-f237540aef8d/linked_in_profile" target="_blank">View details</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card with-hover">
          <div class="probootstrap-card-media">
            <a href="https://learn.microsoft.com/en-gb/users/nikhiladiga-9556/credentials/a9b212a4508fa617?ref=https%3A%2F%2Fwww.linkedin.com%2F" target="_blank"><img src="{% static 'img/Microsoft-Powerbi.jpg' %}"
                class="img-responsive img-border" alt="Certification Image"></a>
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">Power BI Data Analyst</h2>
            <p class="category">Analytics</p>
            <p><a href="https://learn.microsoft.com/en-gb/users/nikhiladiga-9556/credentials/a9b212a4508fa617?ref=https%3A%2F%2Fwww.linkedin.com%2F">View details</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card with-hover">
          <div class="probootstrap-card-media">
            <a href="https://google.accredible.com/394547a2-51a6-4212-8593-0bd5488f7e48"><img src="{% static 'img/Google-cloud-engineer.jpg' %}"
                class="img-responsive img-border" alt="Certification Image"></a>
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">Google Cloud Associate Engineer</h2>
            <p class="category">Cloud</p>
            <p><a href="https://google.accredible.com/394547a2-51a6-4212-8593-0bd5488f7e48" target="_blank">View details</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card with-hover">
          <div class="probootstrap-card-media">
            <a href="https://www.credential.net/e81633ad-24bd-4bff-bd92-23c56691a9f8" target="_blank"><img src="{% static 'img/Google-cloud-leader.jpg' %}"
                class="img-responsive img-border" alt="Certification Image"></a>
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">Google Digital Cloud Leader</h2>
            <p class="category">Cloud</p>
            <p><a href="https://www.credential.net/e81633ad-24bd-4bff-bd92-23c56691a9f8" target="_blank">View details</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card with-hover">
          <div class="probootstrap-card-media">
            <a href="https://courses.360digitmg.skillsnetwork.site/certificates/49253919bc3c4a0c93bb96533aac5b0d" target="_blank"><img src="{% static 'img/IBM-ML.jpg' %}" class="img-responsive img-border"
                alt="Certification Image"></a>
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">IBM Machine Learning with Python</h2>
            <p class="category">Data Science</p>
            <p><a href="https://courses.360digitmg.skillsnetwork.site/certificates/49253919bc3c4a0c93bb96533aac5b0d" target="_blank">View details</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card with-hover">
          <div class="probootstrap-card-media">
            <a href="single-page.html" style="pointer-events: none;"><img
                src="{% static 'img/AI-ML-certification.jpg' %}" class="img-responsive img-border"
                alt="Certification Image"></a>
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">Artificial Intelligence and Deep Learning</h2>
            <p class="category">Data Science</p>
            <p><a href="single-page.html" style="color: gray;pointer-events: none;">View details</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card with-hover">
          <div class="probootstrap-card-media">
            <a href="single-page.html" style="color: gray; pointer-events: none;"><img src="{% static 'img/python-flask-certificate.jpg' %}"
                class="img-responsive img-border" alt="Certification Image"></a>
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">Complete Python Web Course</h2>
            <p class="category">Web Development</p>
            <p><a href="single-page.html" style="color: gray; pointer-events: none;">View details</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card with-hover">
          <div class="probootstrap-card-media">
            <a href="single-page.html" style="color: gray; pointer-events: none;"><img src="{% static 'img/Sql-certificate.jpg' %}"
                class="img-responsive img-border" alt="Certification Image"></a>
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">Ultimate SQL Bootcamp</h2>
            <p class="category">Analytics</p>
            <p><a href="single-page.html" style="color: gray; pointer-events: none;">View details</a></p>
          </div>
        </div>ss
      </div>
      <div class="col-md-4 probootstrap-animate">
        <div class="probootstrap-card with-hover">
          <div class="probootstrap-card-media">
            <a href="https://credentials.marqueegroup.ca/64cf4cec-f62e-4c3c-954f-a285cba37c77#gs.7u2cyb" target="_blank"><img src="{% static 'img/marquee-financial-model.jpg' %}"
                class="img-responsive img-border" alt="Certification Image"></a>
          </div>
          <div class="probootstrap-card-text">
            <h2 class="probootstrap-card-heading mb0">Marquee Build a Financial Model</h2>
            <p class="category">Finance</p>
            <p><a href="https://credentials.marqueegroup.ca/64cf4cec-f62e-4c3c-954f-a285cba37c77#gs.7u2cyb" target="_blank">View details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section -->

<!-- ######################## -->
<!-- TESTIMONIAL  -->
<!-- ######################## -->

<section class="probootstrap-section probootstrap-section-lighter">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center section-heading probootstrap-animate">
        <h2>What people have to say...</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4  probootstrap-animate">
        <div class="probootstrap-testimony">
          <blockquote>
            <p>Had the privilege of working with Nikhil in an assignment at MoneyHop. He comes across as a very
              focused in his approach & extremely professional. He has always been very approachable & humility a
              cornerstone of his personality. Wish a great future in his endeavors & I know he will be an asset to any
              organization he works for.</p>
          </blockquote>
          <div class="author">
            <a href="https://in.linkedin.com/in/aviroop-sengupta-34a4102" target="_blank"><img src="{% static 'img/LinkedIn_circle.png' %}" class="img-responsive"
                alt="Testimonial Image"></a>
            <div>Aviroop <span>Director at LeverageEdu (Ex-MoneyHop)</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4  probootstrap-animate">
        <div class="probootstrap-testimony">
          <blockquote>
            <p>My heartfelt thanks to all of you for your hardwork and dedication to our VC project. And a special
              shoutout to Nikhil - thank you for covering me when I was busy with exams. Your support was crucial in
              keeping things moving smoothly and it means a lot to me.</p>
          </blockquote>
          <div class="author">
            <a href="#" target="_blank" style="pointer-events: none;"> <img src="{% static 'img/LinkedIn_circle.png' %}"
                class="img-responsive px-2" alt="Testimonial Image"> </a>
            <div> J. Hu <span>Student, DeGroote School of Business, McMaster University</span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4  probootstrap-animate">
        <div class="probootstrap-testimony">
          <blockquote>
            <p>A great experience with an insightful and intelligent member of the team. His innovative ideas were
              crucial in the product development phase and the would not have moved with the speed it did if it weren't
              for Nikhil.</p>
          </blockquote>
          <div class="author">
            <a href="https://ca.linkedin.com/in/tajzadeh" target="_blank"><img src="{% static 'img/LinkedIn_circle.png' %}" class="img-responsive"
                alt="Testimonial Image"> </a>
            <div>Rahi Tajzadeh <span>Founder at KnowQuest</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- END section -->
{% endblock %}